<!DOCTYPE html>
<html lang="en"
    xmlns:th="http://www.thymeleaf.org"
>

<head>
    <meta charset="UTF-8">
    <link th:href="@{/styles/main.css}" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/action.js}"></script>
    <title>service status list</title>
</head>

<body>
<h1>Good Luck, Today!</h1>
<br><br><br>

<table class="styled-table">
    <thead>
        <tr>
            <th>サービス名</th>
            <th>サービスステータス</th>
            <th>ステータス更新</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>データベース</td>
            <td><div class="server" id="database-rs"><ul><li></li><li></li><li></li><li></li><li></li></ul></div></td>
            <td><button class="button" id="database-btn">更新</button></td>
        </tr>
        <tr>
            <td>Jenkins</td>
            <td><div class="server" id="jenkins-rs"><ul><li></li><li></li><li></li><li></li><li></li></ul></div></td>
            <td><button class="button" id="jenkins-btn">更新</button></td>
        </tr>
        <tr>
            <td>SonarQube</td>
            <td><div class="server" id="sonarqube-rs"><ul><li></li><li></li><li></li><li></li><li></li></ul></div></td>
            <td><button class="button" id="sonarqube-btn" >更新</button></td>
        </tr>
    </tbody>
</table>


    <div class="box">
    <div class="server">
      <ul>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <span>RUNNING</span>

    <br><br><br>

    <div class="server warning">
      <ul>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <span>WARNING</span>
    
    <br><br><br>
    
    <div class="server error">
      <ul>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <span>OFFLINE</span>


  </div>
</body>
</html>
